input.sf-cache-bundle-title {
  margin:2.5em 0 0 0;
  font-size:140%;
  width:100%;
}

.sf-cache-form-half .form-item {
  width:45%;
  float:left;
  padding:0 4% 0 0;
}

.sf-cache-form-half input {
  width:100%;
}

#edit-sf-cache-css-target, #edit-sf-cache-js-target {
  width:80%;
}

.sf-cache-datafield-value {
  margin-left:2em;
}

.sf-cache-file-title {
  font-weight:bold;
}

.sf-cache-table {
  margin-bottom: 4em;
}

.sf-cache-table caption {
  text-align: left;
}

.sf-cache-table caption .warning {
  background: #FFD;
  padding:0.25em 1em;
}

/**
 * Colors for the admin table.
 */
.sf-cache-sv-1 {
  background-color:#5EFEB8;
}

.sf-cache-sv-2 {
  background-color:#B1D742;
}

.sf-cache-sv-3 {
  background-color:#FFC42C;
}

.sf-cache-sv-4 {
  background-color:#FF9B00;
}

.sf-cache-sv-5 {
  background-color:#FF5820;
}

.sf-cache-sv-6 {
  background-color:#FF1A92;
}

.sf-cache-file-missing {
  background:url(images/file_broken.png) no-repeat center center;
}

.sf-cache-file_indicator, .sf-cache_minify, .sf-cache-bundle_enabled, .sf-cache-file_checked {
  width:1%;
}

.sf-cache-file_enabled, .sf-cache_minified {
  text-align:right;
}

.sf-cache-file_name, .sf-cache-bundle_title {
  width:56%;
}

.sf-cache-bundle_selector {
  width:18%;
}

.sf-cache-file_size {
  width:12%;
}

.sf-cache-file_options {
  width:10%;
}

tbody tr.sf-cache-total-row {
  border-top-width:2px;
}

.sf-cache-total {
  font-weight:bold;
  text-align:right;
  padding:0 1em;
}

#sf-cache-overview-statistics .admin-panel {
  background: #ffb;
  margin-bottom: 2em;
  padding-bottom: 0.3em;
}

#sf-cache-ui-overview-shortcuts .form-submit {
  margin: 0.5em 0em 1em 0px;
  float:left;
}

.sf-cache-right-arrow {
  margin: 0.5em 0em 1em 0px;
  width:20px;
  height:100%;
  display:block;
  float:left;
  background:url(images/arrow_right.png) center center no-repeat;
}

#sf-cache-ui-overview-shortcuts .item-list {
  font-size:0.92em;
}

#sf-cache-ui-excludes-add-form .form-item {
  float:left;
}

#sf-cache-ui-excludes-add-form .form-submit {
  margin:0.25em 0 0.25em 1em;
}

.sf-cache-extended-submit {
  margin:1.5em 0;
}
.sf-cache-extended-submit .form-submit {
  margin:0;
  float:left;
  width:25%;
}

.sf-cache-extended-submit .description {
  margin-left:25%;
  font-size:0.9em;
  padding:0.25em 0 0.25em 1em;
}

.sf-cache-enabled-themes {
  margin:0;
  padding:0 0 0.5em 4em;
}
